body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: azure;
}
.hero {
  background-color: bisque;
}
.pros {
  background-color: blue;
}
.info {
  background-color: yellowgreen;
}
.footer {
  background-color: violet;
}
